.focus-bg {
  display: flex;
  align-items: center;
}

.focus-bg:focus-within {
  background: #eee;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.focus-bg:focus-within > .checkbox:hover {
  background: #ccc;
}

.hover-btn.checkbox,
.hover-btn.dropdown {
  padding: 0;
}

.hover-btn.checkbox {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.hover-btn.dropdown {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
