/*general App styling*/
.content {
  display: flex;
  padding-top: 1rem;
}

.content > .main {
  width: 100%;
}
/*End of general App styling*/

/**Message Table Styling*/
.unread-style {
  color: #000;
}

.new-badge {
  color: #fff;
  background-color: red;
  font-size: 10px;
  border-radius: 3px;
}
/* End of Message Table styling */
