/*general App styling*/
.content {
  display: flex;
  padding-top: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
}

.content > .main {
  width: 100%;
}
/*End of general App styling*/

/*Header styles*/
.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 0.3rem;
}

/**Message Table Styling*/
.unread-style {
  color: #000;
}

.new-badge {
  color: #fff;
  background-color: red;
  font-size: 10px;
  border-radius: 3px;
}
/* End of Message Table styling */

/*Message row styling*/
.hovered-row {
  box-shadow: var(--boxShadow);
}

/*Sidebar Icons*/
.sidebar {
  margin: 0 0.5rem;
}

.sidebar.box {
  border-left: 1px solid #eee;
}

.sidebar-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 1rem 0;
  border-radius: 50%;
}

.google-icons {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.google-icons img {
  width: 100%;
  max-width: 25px;
}
