/*general App styling*/
.content {
  display: flex;
  padding-top: 1rem;
}

img {
  width: 100%;
  max-width: 100%;
}

.content > .main {
  width: 100%;
}

.icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
/*End of general App styling*/

/*Header styles*/
.header-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  margin: 0 0.3rem;
  position: relative;
}

.header-btn.red {
  color: red;
  border-bottom: 4px solid red;
}

.header-btn.green {
  color: green;
  border-bottom: 4px solid green;
}

.header-btn.blue {
  color: blue;
  border-bottom: 4px solid blue;
}

.header-btn.blue > * > * > * {
  color: blue;
}

.header-btn.red > * > * > * {
  color: red;
}

.header-btn.green > * > * > * {
  color: green;
}

.header-badge {
  color: #fff !important;
}
/**Message Table Styling*/
.unread-style {
  color: #000;
}

.new-badge {
  color: #fff;
  background-color: red;
  font-size: 10px;
  border-radius: 3px;
}
/* End of Message Table styling */

/*Message row styling*/
.hovered-row {
  box-shadow: var(--boxShadow);
}

/*Sidebar Icons*/
.sidebar {
  margin: 0 0.5rem;
}

.sidebar.box {
  border-left: 1px solid #eee;
}

.sidebar-icons {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40px;
  width: 40px;
  margin: 1rem 0;
  border-radius: 50%;
}

.google-icons {
  padding-bottom: 20px;
  border-bottom: 1px solid #eee;
}

.google-icons img {
  width: 100%;
  max-width: 25px;
}

/*Tooltip*/
.tooltip {
  position: absolute;
  background-color: rgb(26, 25, 25, 0.6);
  color: #fff;
  min-width: fit-content;
  max-width: fit-content;
  padding: 0.4rem;
  border-radius: 0.5rem;
  font-size: 13px;
  text-align: center;
}

.tooltip * {
  color: #fff;
}

/* Navigation Links */

.navlinks {
  text-decoration: none;
}

.navlinks .red * {
  color: red;
}
.link-active {
  background-color: rgba(153, 153, 153, 0.3);
}

.link-active.red {
  background-color: #ebb1b196;
}

/* Individual mail styles */
.msg-inner-header {
  display: flex;
  justify-content: space-between;
}

.msg-inner-header h2,
.msg-inner-header p {
  color: #000;
}

.msg-actions {
  display: flex;
}
