/* Global styles */
:root {
  --boxShadow: 0px 3px 8.4px -3px rgb(173, 173, 173);
  --smallFont: 12px;
}

body {
  margin: 0 auto;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  max-width: 1600px;
  min-width: 1440px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/** Begining of genral styling */
* {
  color: #777;
}

/**Hover styles */
.hover-btn {
  background-color: unset;
  border: none;
  outline: none;
  cursor: pointer;
}

.hover-btn:hover {
  background-color: rgba(238, 238, 238, 0.6);
}

.hover-btn:disabled:hover {
  background-color: unset;
}

.hover-btn.circle {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}

/*End of Hover Styles */

/* Pagination icons*/
.paging-icon * {
  font-size: 12px !important;
}

/*Checkbox and Dropdowns*/
.checkbox,
.dropdown {
  border-radius: 6px;
  padding: 0;
}

/*Setting any section to a flex style*/
.flex {
  display: flex;
  align-items: center;
}

.flex-end {
  justify-items: end;
}

.flex-start {
  justify-items: start;
}

/*End of flex styling*/
